USE [TaskCOMsep]
GO
/****** Object:  Schema [Daljeet]    Script Date: 9/21/2018 5:33:24 PM ******/
CREATE SCHEMA [Daljeet]
GO
/****** Object:  Table [Daljeet].[Trn_Item_RelatedAccessories]    Script Date: 9/21/2018 5:33:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Daljeet].[Trn_Item_RelatedAccessories](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ItemStockCode] [varchar](50) NULL,
	[RelatedItemStockCode] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Daljeet].[Trn_Item_RelatedItems]    Script Date: 9/21/2018 5:33:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Daljeet].[Trn_Item_RelatedItems](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ItemStockCode] [varchar](50) NULL,
	[RelatedItemStockCode] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Daljeet].[Trn_LinkCategoryItem]    Script Date: 9/21/2018 5:33:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Daljeet].[Trn_LinkCategoryItem](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ItemStockCode] [varchar](50) NOT NULL,
	[SubCategoryId] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AdminUsers]    Script Date: 9/21/2018 5:33:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AdminUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
 CONSTRAINT [PK_AdminUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Lot_Mst_Stock]    Script Date: 9/21/2018 5:33:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Lot_Mst_Stock](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ItemStockCode] [varchar](100) NULL,
	[StockInHand] [varchar](50) NULL,
	[DateTime] [datetime] NULL,
 CONSTRAINT [PK_Lot_mst_stock] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Mst_Brand]    Script Date: 9/21/2018 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Mst_Brand](
	[BrandId] [int] IDENTITY(1,1) NOT NULL,
	[BrandName] [varchar](100) NULL,
	[SequenceNo] [int] NULL,
	[Active] [bit] NULL,
	[ImageUrl] [varchar](1000) NULL,
	[filename] [varchar](1000) NULL,
	[SearchKeyword] [varchar](500) NULL,
	[MetaDescription] [varchar](500) NULL,
 CONSTRAINT [PK_Mst_Brand] PRIMARY KEY CLUSTERED 
(
	[BrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Mst_Category]    Script Date: 9/21/2018 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Mst_Category](
	[Category Name] [varchar](50) NULL,
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[SequenceNo] [int] NULL,
	[Active] [bit] NULL,
	[SearchKeyword] [varchar](500) NULL,
	[MetaDescription] [varchar](500) NULL,
 CONSTRAINT [PK_Mst_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Mst_Customer]    Script Date: 9/21/2018 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Mst_Customer](
	[Name] [varchar](50) NULL,
	[PhoneNumber] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[HouseNo] [varchar](50) NULL,
	[AddressLine2] [varchar](50) NULL,
	[AddressLine3] [varchar](50) NULL,
	[AddressLine4] [varchar](50) NULL,
	[PostCode] [varchar](50) NULL,
	[InvoiceName] [varchar](50) NULL,
	[Company] [varchar](50) NULL,
	[InvoiceAddessLine2] [varchar](50) NULL,
	[InvoiceAddressLine3] [varchar](50) NULL,
	[InvoiceAddressLine4] [varchar](50) NULL,
	[InvoicePostCode] [varchar](50) NULL,
	[AgreeSendSpecialOffer] [bit] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Mst_Inv_Category]    Script Date: 9/21/2018 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Mst_Inv_Category](
	[CategoryName] [varchar](50) NULL,
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[IsParentId] [int] NULL,
	[filename] [varchar](500) NULL,
	[filePath] [varchar](500) NULL,
	[ActiveOnPortal] [int] NULL,
	[Description] [varchar](1000) NULL,
 CONSTRAINT [PK_Mst_Inv_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Mst_Item]    Script Date: 9/21/2018 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Mst_Item](
	[ItemId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](100) NULL,
	[Name] [varchar](50) NULL,
	[SubCategoryId] [varchar](50) NULL,
	[BrandId] [varchar](50) NULL,
	[ASIN] [varchar](50) NULL,
	[SKU] [varchar](50) NULL,
	[ItemStockCode] [varchar](50) NULL,
	[Description] [varchar](max) NULL,
	[ItemMainImage] [varchar](500) NULL,
	[ItemImage1] [varchar](500) NULL,
	[ItemImage2] [varchar](500) NULL,
	[Price] [varchar](50) NULL,
	[ItemMainImageUrl] [varchar](1000) NULL,
	[ItemMainImageUrl1] [varchar](1000) NULL,
	[ItemMainImageUrl2] [varchar](1000) NULL,
	[VAT] [varchar](50) NULL,
	[MetaDescription] [varchar](500) NULL,
	[SearchKeyword] [varchar](500) NULL,
	[Active] [bit] NULL,
	[ItemImage3] [varchar](500) NULL,
	[ItemMainImageUrl3] [varchar](500) NULL,
	[ItemMainImageUrl4] [varchar](500) NULL,
	[ItemImage4] [varchar](500) NULL,
	[ItemMainImageUrl5] [varchar](500) NULL,
	[ItemImage5] [varchar](500) NULL,
 CONSTRAINT [PK_Mst_Item] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Mst_SubCategory]    Script Date: 9/21/2018 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Mst_SubCategory](
	[SubCategoryId] [int] IDENTITY(1,1) NOT NULL,
	[SubCategoryName] [varchar](50) NULL,
	[CategoryId] [int] NULL,
	[Active] [bit] NULL,
	[SearchKeyword] [varchar](500) NULL,
	[MetaDescription] [varchar](500) NULL,
 CONSTRAINT [PK_Mst_SubCategory] PRIMARY KEY CLUSTERED 
(
	[SubCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [Daljeet].[Trn_Item_RelatedAccessories] ON 

INSERT [Daljeet].[Trn_Item_RelatedAccessories] ([ID], [ItemStockCode], [RelatedItemStockCode]) VALUES (1, N'test', N'DA4000LR/1 ')
INSERT [Daljeet].[Trn_Item_RelatedAccessories] ([ID], [ItemStockCode], [RelatedItemStockCode]) VALUES (2, N'test', N' 2704/1')
SET IDENTITY_INSERT [Daljeet].[Trn_Item_RelatedAccessories] OFF
SET IDENTITY_INSERT [Daljeet].[Trn_Item_RelatedItems] ON 

INSERT [Daljeet].[Trn_Item_RelatedItems] ([ID], [ItemStockCode], [RelatedItemStockCode]) VALUES (1, N'test', N'2704/2')
SET IDENTITY_INSERT [Daljeet].[Trn_Item_RelatedItems] OFF
SET IDENTITY_INSERT [Daljeet].[Trn_LinkCategoryItem] ON 

INSERT [Daljeet].[Trn_LinkCategoryItem] ([ID], [ItemStockCode], [SubCategoryId]) VALUES (1, N'test', N'146')
INSERT [Daljeet].[Trn_LinkCategoryItem] ([ID], [ItemStockCode], [SubCategoryId]) VALUES (2, N'DA4000LR/1', N'86')
INSERT [Daljeet].[Trn_LinkCategoryItem] ([ID], [ItemStockCode], [SubCategoryId]) VALUES (3, N'DA4000LR/2', N'86')
SET IDENTITY_INSERT [Daljeet].[Trn_LinkCategoryItem] OFF
SET IDENTITY_INSERT [dbo].[AdminUsers] ON 

INSERT [dbo].[AdminUsers] ([Id], [UserName], [Password]) VALUES (1, N'Daljeet', N'12345')
SET IDENTITY_INSERT [dbo].[AdminUsers] OFF
SET IDENTITY_INSERT [dbo].[Lot_Mst_Stock] ON 

INSERT [dbo].[Lot_Mst_Stock] ([Id], [ItemStockCode], [StockInHand], [DateTime]) VALUES (1, N'DA4000LR/1', N'1', CAST(N'2018-09-06 12:04:21.313' AS DateTime))
INSERT [dbo].[Lot_Mst_Stock] ([Id], [ItemStockCode], [StockInHand], [DateTime]) VALUES (2, N'DA4000LR/2', N'1', CAST(N'2018-09-06 12:04:05.517' AS DateTime))
INSERT [dbo].[Lot_Mst_Stock] ([Id], [ItemStockCode], [StockInHand], [DateTime]) VALUES (3, N'2704/1', N'1', CAST(N'2018-09-06 12:02:43.270' AS DateTime))
SET IDENTITY_INSERT [dbo].[Lot_Mst_Stock] OFF
SET IDENTITY_INSERT [dbo].[Mst_Brand] ON 

INSERT [dbo].[Mst_Brand] ([BrandId], [BrandName], [SequenceNo], [Active], [ImageUrl], [filename], [SearchKeyword], [MetaDescription]) VALUES (1, N'Makita', NULL, 1, N'D:\INETPUB\VHOSTS\davemuslayah.com\api.davemuslayah.com\Images\Makita_image.jpg', N'Makita_image.jpg', N'undefined', N'undefined')
INSERT [dbo].[Mst_Brand] ([BrandId], [BrandName], [SequenceNo], [Active], [ImageUrl], [filename], [SearchKeyword], [MetaDescription]) VALUES (2, N'Bosch', NULL, 1, N'D:\INETPUB\VHOSTS\davemuslayah.com\api.davemuslayah.com\Images\Bosch_Bosch.jpg', N'Bosch_Bosch.jpg', N'undefined', N'undefined')
INSERT [dbo].[Mst_Brand] ([BrandId], [BrandName], [SequenceNo], [Active], [ImageUrl], [filename], [SearchKeyword], [MetaDescription]) VALUES (3, N'Festool', NULL, 1, N'D:\INETPUB\VHOSTS\davemuslayah.com\api.davemuslayah.com\Images\Festool_Festool.jpg', N'Festool_Festool.jpg', N'undefined', N'undefined')
SET IDENTITY_INSERT [dbo].[Mst_Brand] OFF
SET IDENTITY_INSERT [dbo].[Mst_Inv_Category] ON 

INSERT [dbo].[Mst_Inv_Category] ([CategoryName], [CategoryId], [IsParentId], [filename], [filePath], [ActiveOnPortal], [Description]) VALUES (N'Construction Materials', 25, 0, NULL, NULL, NULL, N'Categories provide a simple solution for grouping similar articles together. They help the users find related content, and when used correctly, categories can help you get better SEO results too. Besides all these benefits, categories also come with another interesting feature – the description.')
INSERT [dbo].[Mst_Inv_Category] ([CategoryName], [CategoryId], [IsParentId], [filename], [filePath], [ActiveOnPortal], [Description]) VALUES (N'Bricks, Blocks ', 26, 25, NULL, NULL, NULL, N'Categories provide a simple solution for grouping similar articles together. They help the users find related content, and when used correctly, categories can help you get better SEO results too. Besides all these benefits, categories also come with another interesting feature – the description.')
INSERT [dbo].[Mst_Inv_Category] ([CategoryName], [CategoryId], [IsParentId], [filename], [filePath], [ActiveOnPortal], [Description]) VALUES (N'Wood', 27, 25, NULL, NULL, NULL, N'Categories provide a simple solution for grouping similar articles together. They help the users find related content, and when used correctly, categories can help you get better SEO results too. Besides all these benefits, categories also come with another interesting feature – the description.')
GO
SET IDENTITY_INSERT [dbo].[Mst_Inv_Category] OFF
SET IDENTITY_INSERT [dbo].[Mst_Item] ON 

SET IDENTITY_INSERT [dbo].[Mst_Item] OFF
/****** Object:  StoredProcedure [Daljeet].[Category_SaveTree]    Script Date: 9/21/2018 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [Daljeet].[Category_SaveTree](
@CategoryName varchar(50),
@ParentId varchar (50),
@filename varchar (500)=null,
@filePath varchar (500)=null,
@ActiveOnPortal int
)
as
begin

Insert into Mst_Inv_Category ([CategoryName],[IsParentId],filePath,filename,ActiveOnPortal) values(@CategoryName,@ParentId,@filePath,@filename,@ActiveOnPortal)


end

GO
/****** Object:  StoredProcedure [Daljeet].[getCategoryforFirstPage]    Script Date: 9/21/2018 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [Daljeet].[getCategoryforFirstPage]

as 
select child.*, parent.CategoryName as ParentName from mst_inv_category child
inner join mst_inv_category parent
on child.IsParentId = parent.CategoryId
 where child.activeonportal=1

GO
/****** Object:  StoredProcedure [Daljeet].[GetCategorywithSubCategory]    Script Date: 9/21/2018 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [Daljeet].[GetCategorywithSubCategory]
as
begin
select * from Mst_Inv_Category
end

GO
/****** Object:  StoredProcedure [Daljeet].[sp_UpdateBrandImageData]    Script Date: 9/21/2018 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [Daljeet].[sp_UpdateBrandImageData] 
	-- Add the parameters for the stored procedure here
	@BrandId varchar(50),
	@ItemImage varchar(50),
	@ItemMainImageUrl varchar(100)

	
AS
BEGIN
--select * from mst_brand
update Mst_Brand set 
ImageUrl = @ItemMainImageUrl,filename=@ItemImage
where BrandId = @BrandId



END

GO
/****** Object:  StoredProcedure [Daljeet].[UpdateItemwithCategoryId]    Script Date: 9/21/2018 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [Daljeet].[UpdateItemwithCategoryId](
@ItemStockCode varchar(50),
@CategoryId varchar (50))
as
begin

Insert into Trn_LinkCategoryItem (ItemStockCode,SubCategoryId)values(@ItemStockCode,@CategoryId)

end

GO
/****** Object:  StoredProcedure [dbo].[Brand_Find]    Script Date: 9/21/2018 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Brand_Find]   
 -- Add the parameters for the stored procedure here  
 @Active nvarchar(10)  
AS  
BEGIN  
--declare @Return nvarchar(50)  
 -- SET NOCOUNT ON added to prevent extra result sets from  
 -- interfering with SELECT statements.  
 SET NOCOUNT ON;  
select ROW_NUMBER() OVER(ORDER BY BrandId) AS RowId,  
BrandId, BrandName, SequenceNo, Active ,SearchKeyword ,MetaDescription ,filename from Mst_Brand  
where  
(Active = @Active or @Active = '')  
END

GO
/****** Object:  StoredProcedure [dbo].[Brand_Insert]    Script Date: 9/21/2018 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Brand_Insert] 
	-- Add the parameters for the stored procedure here
	@BrandName varchar(50),
	@SequenceNo int,
	@Active int,
	@Return nvarchar(50) out
AS
BEGIN
--declare @Return nvarchar(50)
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
if not exists(select BrandId from Mst_Brand where SequenceNo = @SequenceNo)
begin
insert into Mst_Brand (BrandName, SequenceNo, Active) values (@BrandName, @SequenceNo, @Active)

set @Return = 'Record insert successfully'
end
else
begin
set @Return = 'Duplicate sequence no !'
end
  return @Return  
END

GO
/****** Object:  StoredProcedure [dbo].[Brand_Update]    Script Date: 9/21/2018 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Brand_Update] 
	-- Add the parameters for the stored procedure here
	@BrandId varchar(50),
	@BrandName varchar(50),
	@MetaDescription varchar(100),
	@Active int,
	@SearchKeyword varchar(100)
AS
BEGIN

update Mst_Brand set 
BrandName = @BrandName,SearchKeyword=@SearchKeyword,
MetaDescription = @MetaDescription
, Active = @Active
where BrandId = @BrandId



END

GO
/****** Object:  StoredProcedure [dbo].[Category_Find]    Script Date: 9/21/2018 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Category_Find]
 @Active nvarchar(10)  
as

BEGIN  
--declare @Return nvarchar(50)  
 -- SET NOCOUNT ON added to prevent extra result sets from  
 -- interfering with SELECT statements.  
SET NOCOUNT ON;  
select ROW_NUMBER() OVER(ORDER BY CategoryId) AS RowId,   
CategoryId, [CategoryName], IsParentId from Mst_Inv_Category  

END

GO
/****** Object:  StoredProcedure [dbo].[Category_Insert]    Script Date: 9/21/2018 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Category_Insert]   
 -- Add the parameters for the stored procedure here  
 @CategoryName varchar(50),
 @SearchKeyword varchar(500),  
   @MetaDescription varchar(500),  
 
  
 @Active int  
   
AS  
BEGIN  
SET NOCOUNT ON;  
  
begin  
insert into Mst_Category ([Category Name],SearchKeyword,MetaDescription,Active) values (@CategoryName,@SearchKeyword,@MetaDescription,@Active)  
  
end  
  
END

GO
/****** Object:  StoredProcedure [dbo].[Category_SaveTree]    Script Date: 9/21/2018 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Category_SaveTree](  
@CategoryName varchar(50),  
@ParentId varchar (50),  
@filename varchar (500)=null,  
@filePath varchar (500)=null,  
@ActiveOnPortal int  
)  
as  
begin  
  
Insert into Mst_Inv_Category ([CategoryName],[IsParentId],filePath,filename,ActiveOnPortal) values(@CategoryName,@ParentId,@filePath,@filename,@ActiveOnPortal)  
  
  
end

GO
/****** Object:  StoredProcedure [dbo].[Category_Update]    Script Date: 9/21/2018 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Category_Update]   
 -- Add the parameters for the stored procedure here  
 @CategoryId varchar(50),  
 @CategoryName varchar(50),  
   @SearchKeyword varchar(500),  
   @MetaDescription varchar(500),  
 
 --@SequenceNo int,  
 @Active int  
AS  
BEGIN  
--declare @Return nvarchar(50)  
 -- SET NOCOUNT ON added to prevent extra result sets from  
 -- interfering with SELECT statements.  
 SET NOCOUNT ON;  
  
update Mst_Category set   
[Category Name] = @CategoryName,  
SearchKeyword = @SearchKeyword,   
MetaDescription=   @MetaDescription ,  
 Active= @Active   
where CategoryId = @CategoryId  
  
  
END

GO
/****** Object:  StoredProcedure [dbo].[CheckLogin]    Script Date: 9/21/2018 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[CheckLogin]
(
        @Name varchar(50),
        @Password varchar(50)
)
as
declare @status int
if exists(select * from AdminUsers where UserName=@Name and Password=@Password)
       set @status=1
else
       set @status=0
select @status

GO
/****** Object:  StoredProcedure [dbo].[Customer_Insert]    Script Date: 9/21/2018 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Customer_Insert] 
	-- Add the parameters for the stored procedure here
	@Name varchar(50)
	,@PhoneNumber varchar(50)
	,@Email varchar(50)
	,@Password varchar(50)
	,@HouseNo varchar(50)
	,@AddressLine2 varchar(50)
	,@AddressLine3 varchar(50)
	,@AddressLine4 varchar(50)
	,@PostCode varchar(50)
	,@InvoiceName varchar(50)
	,@Company varchar(50)
	,@InvoiceAddessLine2 varchar(50)
	,@InvoiceAddressLine3 varchar(50)
	,@InvoiceAddressLine4 varchar(50)
	,@InvoicePostCode varchar(50)
	,@AgreeSendSpecialOffer bit
	, @ReturnCode varchar(10) = NULL out
	, @Return varchar(10) = NULL out
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	if exists (select name from Mst_Customer where Name = @Name and PhoneNumber = @PhoneNumber)
begin
set @ReturnCode = '1'
    set @Return = 'Customer already exist.'
end
else
begin	
    insert into Mst_Customer
(
Name
	,PhoneNumber
	,Email
	,Password
	,HouseNo
	,AddressLine2
	,AddressLine3
	,AddressLine4
	,PostCode
	,InvoiceName
	,Company
	,InvoiceAddessLine2
	,InvoiceAddressLine3
	,InvoiceAddressLine4
	,InvoicePostCode
	,AgreeSendSpecialOffer
) 
values 
( @Name
	,@PhoneNumber
	,@Email
	,@Password
	,@HouseNo
	,@AddressLine2
	,@AddressLine3
	,@AddressLine4
	,@PostCode
	,@InvoiceName
	,@Company
	,@InvoiceAddessLine2
	,@InvoiceAddressLine3
	,@InvoiceAddressLine4
	,@InvoicePostCode
	,@AgreeSendSpecialOffer
)
if @@ROWCOUNT != 0
    begin
    set @ReturnCode = '0'
    set @Return = 'Success'
    end
    else
    begin
    set @ReturnCode = '21'
    set @Return = 'Error in insert'
    end
end


    
END

GO
/****** Object:  StoredProcedure [dbo].[getCategoryforFirstPage]    Script Date: 9/21/2018 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[getCategoryforFirstPage]  
  
as   
select child.*, parent.CategoryName as ParentName from mst_inv_category child  
inner join mst_inv_category parent  
on child.IsParentId = parent.CategoryId  
 where child.activeonportal=1

GO
/****** Object:  StoredProcedure [dbo].[GetCategorywithSubCategory]    Script Date: 9/21/2018 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetCategorywithSubCategory]  
as  
begin  
select * from Mst_Inv_Category  
end

GO
/****** Object:  StoredProcedure [dbo].[GetlistofCategory]    Script Date: 9/21/2018 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetlistofCategory] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	 SELECT    *
FROM             Mst_Category 



END

GO
/****** Object:  StoredProcedure [dbo].[Getlistofproducts]    Script Date: 9/21/2018 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Getlistofproducts] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	 SELECT        Mst_Item.ItemId, Mst_Item.Title, Mst_Item.Name, Mst_SubCategory.SubCategoryName, Mst_Category.[Category Name], Mst_Brand.BrandName, Lot_Mst_Stock.StockInHand, Mst_Item.ItemStockCode, Mst_Item.Description, 
                         Mst_Item.Price
FROM            Lot_Mst_Stock INNER JOIN
                         Mst_Item ON Lot_Mst_Stock.ItemStockCode = Mst_Item.ItemStockCode INNER JOIN
                         Mst_SubCategory ON Mst_Item.SubCategoryId = Mst_SubCategory.SubCategoryId INNER JOIN
                         Mst_Category ON Mst_SubCategory.CategoryId = Mst_Category.CategoryId INNER JOIN
                         Mst_Brand ON Mst_Item.BrandId = Mst_Brand.BrandId



END

GO
/****** Object:  StoredProcedure [dbo].[GetMenu]    Script Date: 9/21/2018 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[GetMenu]

as

--select * from Mst_Inv_Category 
with Parent as  ( select [Category Name],CategoryId from Mst_Category category)
select SubCategoryName,SubCategoryId,subcategory.CategoryId as ParentId from Mst_SubCategory subcategory inner join Parent on subcategory.CategoryId=Parent.CategoryId 
 union
 select [Category Name],CategoryId,0 as ParentId  from Mst_Category category

GO
/****** Object:  StoredProcedure [dbo].[Insert_selectedAccessories]    Script Date: 9/21/2018 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Insert_selectedAccessories](
@ItemStockCode varchar(50),
@ItemStockCodeaccessories varchar(50)
)as    
begin    
   insert into daljeet.Trn_Item_RelatedAccessories (ItemStockCode,RelatedItemStockCode)  values(@ItemStockCode,@ItemStockCodeaccessories)
						  end

GO
/****** Object:  StoredProcedure [dbo].[Insert_selectedRelatedItems]    Script Date: 9/21/2018 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Insert_selectedRelatedItems](
@ItemStockCode varchar(50),
@ItemStockCodeaccessories varchar(50)
)as    
begin    
   insert into daljeet.Trn_Item_RelatedItems (ItemStockCode,RelatedItemStockCode)  values(@ItemStockCode,@ItemStockCodeaccessories)
						  end

GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllItemStockCode]    Script Date: 9/21/2018 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_GetAllItemStockCode]    
as    
begin    
   select ItemId,ItemStockCode from mst_item

						 
       end

GO
/****** Object:  StoredProcedure [dbo].[sp_GetBrandData]    Script Date: 9/21/2018 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetBrandData]
	-- Add the parameters for the stored procedure here
	
AS
BEGIN

select * from Mst_Brand

END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetItemByCategoryId]    Script Date: 9/21/2018 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_GetItemByCategoryId]
@CategoryId varchar(100)
as
begin

SELECT        dbo.Mst_Item.ItemId, dbo.Mst_Item.MetaDescription, dbo.Mst_Item.SearchKeyword, dbo.Mst_Item.Active, dbo.Mst_Item.VAT, dbo.Mst_Item.ItemMainImageUrl2, dbo.Mst_Item.ItemMainImageUrl1, 
                         dbo.Mst_Item.ItemMainImageUrl, dbo.Mst_Item.Price, dbo.Mst_Item.ItemImage2, dbo.Mst_Item.ItemImage1, dbo.Mst_Item.ItemMainImage, dbo.Mst_Item.Description, dbo.Mst_Item.ItemStockCode, dbo.Mst_Item.SKU, 
                         dbo.Mst_Item.ASIN, dbo.Mst_Item.BrandId, dbo.Mst_Item.SubCategoryId, dbo.Mst_Item.Name, dbo.Mst_Item.Title, dbo.Mst_Brand.BrandName, dbo.Lot_Mst_Stock.StockInHand, dbo.Mst_Item.ItemMainImageUrl3, 
                         dbo.Mst_Item.ItemImage3, dbo.Mst_Item.ItemMainImageUrl4, dbo.Mst_Item.ItemImage4, dbo.Mst_Item.ItemMainImageUrl5, dbo.Mst_Item.ItemImage5, dbo.Mst_Inv_Category.CategoryName, dbo.Mst_Inv_Category.IsParentId, 
                         dbo.Mst_Inv_Category.CategoryId
FROM            dbo.Mst_Inv_Category INNER JOIN
                         daljeet.Trn_LinkCategoryItem ON dbo.Mst_Inv_Category.CategoryId = daljeet.Trn_LinkCategoryItem.SubCategoryId INNER JOIN
                         dbo.Mst_Item INNER JOIN
                         dbo.Lot_Mst_Stock ON dbo.Mst_Item.ItemId = dbo.Lot_Mst_Stock.Id INNER JOIN
                         dbo.Mst_Brand ON dbo.Mst_Item.BrandId = dbo.Mst_Brand.BrandId ON daljeet.Trn_LinkCategoryItem.ItemStockCode = dbo.Mst_Item.ItemStockCode
						 where dbo.Mst_Inv_Category.CategoryId=@CategoryId

						 end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetItemGridData]    Script Date: 9/21/2018 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_GetItemGridData]    
as    
begin    
     SELECT    ROW_NUMBER() OVER(ORDER BY Mst_Item.ItemId desc) AS RowId,    dbo.Mst_Item.ItemId, dbo.Mst_Item.MetaDescription, dbo.Mst_Item.SearchKeyword, dbo.Mst_Item.Active, dbo.Mst_Item.VAT, dbo.Mst_Item.ItemMainImageUrl2, dbo.Mst_Item.ItemMainImageUrl1, 
                         dbo.Mst_Item.ItemMainImageUrl, dbo.Mst_Item.Price, dbo.Mst_Item.ItemImage2, dbo.Mst_Item.ItemImage1, dbo.Mst_Item.ItemMainImage, dbo.Mst_Item.Description, dbo.Mst_Item.ItemStockCode, dbo.Mst_Item.SKU, 
                         dbo.Mst_Item.ASIN, dbo.Mst_Item.BrandId, dbo.Mst_Item.SubCategoryId, dbo.Mst_Item.Name, dbo.Mst_Item.Title, dbo.Mst_Brand.BrandName, dbo.Lot_Mst_Stock.StockInHand, dbo.Mst_Item.ItemMainImageUrl3, 
                         dbo.Mst_Item.ItemImage3, dbo.Mst_Item.ItemMainImageUrl4, dbo.Mst_Item.ItemImage4, dbo.Mst_Item.ItemMainImageUrl5, dbo.Mst_Item.ItemImage5
FROM            dbo.Mst_Item INNER JOIN
                         dbo.Lot_Mst_Stock ON dbo.Mst_Item.ItemId = dbo.Lot_Mst_Stock.Id INNER JOIN
                         dbo.Mst_Brand ON dbo.Mst_Item.BrandId = dbo.Mst_Brand.BrandId 


						 
       end

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdateItemData]    Script Date: 9/21/2018 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_InsertUpdateItemData]      
      
@title varchar(100),@name varchar(100),@BrandId varchar(100),@ItemStockCode varchar(100),@Description varchar(max) ,  
--@ItemMainImage varchar(500)  ,@ItemImage1 varchar(500) ,@ItemImage2 varchar(500) ,  
@Price varchar(100) ,  
--@ItemMainImageUrl varchar(1000),@ItemMainImageUrl1 varchar(1000), @ItemMainImageUrl2 varchar(1000),  
@StockInHand varchar(100),@VAT varchar(50),@SearchKeyword varchar(500),@MetaDescription varchar(500) ,@Active int     
as      
begin      
      
INSERT INTO [dbo].[Mst_Item]  ([Title],[Name],[BrandId],[ASIN],[SKU],[ItemStockCode],[Description],[Price],  
--[ItemMainImage],[ItemImage1],    
--[ItemImage2],[ItemMainImageUrl],[ItemMainImageUrl1],[ItemMainImageUrl2],  
VAT,SearchKeyword,MetaDescription,Active)      
     VALUES (@title,@name,@BrandId,@ItemStockCode,@ItemStockCode,@ItemStockCode,@Description,  
  --@ItemMainImage,@ItemImage1,@ItemImage2,      
  @Price,  
 -- @ItemMainImageUrl,@ItemMainImageUrl1,@ItemMainImageUrl2,  
  @VAT,@SearchKeyword,@MetaDescription,@Active)      
      
INSERT INTO [dbo].[Lot_Mst_Stock]      
           ([ItemStockCode]      
           ,[StockInHand]      
           ,[DateTime])      
     VALUES      
           (@ItemStockCode      
           ,@StockInHand      
           ,GETDATE())      
  end

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateBrandImage]    Script Date: 9/21/2018 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================  
-- Author:  <Author,,Name>  
-- Create date: <Create Date,,>  
-- Description: <Description,,>  
-- =============================================  
CREATE PROCEDURE [dbo].[sp_UpdateBrandImage]  
 -- Add the parameters for the stored procedure here  
 @Brand varchar(50),  
 @filename varchar(100),  
 @ImageUrl varchar(100),
  @SearchKeyword  varchar(500)
,@MetaDescription varchar(500) 
,@Active int   
AS  
BEGIN  
  
 insert into Mst_Brand(BrandName,filename,ImageUrl,Active,MetaDescription,SearchKeyword) values (@Brand,@filename,@ImageUrl,@Active,@MetaDescription,@SearchKeyword)  
  
  
END

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateItemData]    Script Date: 9/21/2018 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_UpdateItemData]    
@title varchar(100),@name varchar(100),@BrandId varchar(100),@ItemStockCode varchar(100),@Description varchar(max) ,@Price varchar(100)    
,@StockInHand varchar(100),@ItemId varchar(100),@VAT varchar(50),@SearchKeyword varchar(500),@MetaDescription varchar(500) ,@Active int   
as    
begin    
update Mst_Item set [Title]=@title,[Name]=@name,BrandId=@BrandId,ASIN=@ItemStockCode,  
SKU=@ItemStockCode,Description=@Description,Price=@Price,  
VAT=@VAT,SearchKeyword=@SearchKeyword, MetaDescription=@MetaDescription   
,Active=@Active where ItemId=@ItemId    
update Lot_Mst_Stock set StockInHand=@StockInHand,DateTime=GETDATE() where ItemStockCode=@ItemStockCode    
end

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateItemImageData1]    Script Date: 9/21/2018 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_UpdateItemImageData1]
@ItemMainImage varchar(1000),@ItemMainImageUrl varchar(1000),@ItemId varchar(100)
as
begin
update Mst_Item set ItemMainImage=@ItemMainImage,ItemMainImageUrl=@ItemMainImageUrl where ItemId=@ItemId

end

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateItemImageData2]    Script Date: 9/21/2018 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_UpdateItemImageData2]
@ItemImage1 varchar(1000),@ItemMainImageUrl1 varchar(1000),@ItemId varchar(100)
as
begin
update Mst_Item set ItemImage1=@ItemImage1,ItemMainImageUrl1=@ItemMainImageUrl1 where ItemId=@ItemId

end

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateItemImageData3]    Script Date: 9/21/2018 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_UpdateItemImageData3]
@ItemImage2 varchar(1000),@ItemMainImageUrl2 varchar(1000),@ItemId varchar(100)
as
begin
update Mst_Item set ItemImage2=@ItemImage2,ItemMainImageUrl2=@ItemMainImageUrl2 where ItemId=@ItemId

end

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateItemImageData4]    Script Date: 9/21/2018 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_UpdateItemImageData4]
@ItemImage3 varchar(1000),@ItemMainImageUrl3 varchar(1000),@ItemId varchar(100)
as
begin
update Mst_Item set ItemImage3=@ItemImage3,ItemMainImageUrl3=@ItemMainImageUrl3 where ItemId=@ItemId

end

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateItemImageData5]    Script Date: 9/21/2018 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_UpdateItemImageData5]
@ItemImage4 varchar(1000),@ItemMainImageUrl4 varchar(1000),@ItemId varchar(100)
as
begin
update Mst_Item set ItemImage4=@ItemImage4,ItemMainImageUrl4=@ItemMainImageUrl4 where ItemId=@ItemId

end

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateItemImageData6]    Script Date: 9/21/2018 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_UpdateItemImageData6]
@ItemImage5 varchar(1000),@ItemMainImageUrl5 varchar(1000),@ItemId varchar(100)
as
begin
update Mst_Item set ItemImage5=@ItemImage5,ItemMainImageUrl5=@ItemMainImageUrl5 where ItemId=@ItemId

end

GO
/****** Object:  StoredProcedure [dbo].[SubCategory_Find]    Script Date: 9/21/2018 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================    
-- Author:  <Author,,Name>    
-- Create date: <Create Date,,>    
-- Description: <Description,,>    
-- =============================================    
CREATE PROCEDURE [dbo].[SubCategory_Find]     
 -- Add the parameters for the stored procedure here    
 @Active nvarchar(10)    
AS    
BEGIN    
--declare @Return nvarchar(50)    
 -- SET NOCOUNT ON added to prevent extra result sets from    
 -- interfering with SELECT statements.    
 SET NOCOUNT ON;    
select ROW_NUMBER() OVER(ORDER BY SubCategory.SubCategoryId) AS RowId,     
SubCategory.SubCategoryId, SubCategory.SubCategoryName, SubCategory.CategoryId, SubCategory.Active    
,Category.[Category Name]    ,SubCategory.MetaDescription,SubCategory.SearchKeyword
from Mst_SubCategory SubCategory    
left join Mst_Category Category on Category.CategoryId = SubCategory.CategoryId    
where    
(SubCategory.Active = @Active or @Active = '')    
END

GO
/****** Object:  StoredProcedure [dbo].[SubCategory_Find1]    Script Date: 9/21/2018 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SubCategory_Find1] 
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
--declare @Return nvarchar(50)
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
select 
SubCategory.SubCategoryId, SubCategory.SubCategoryName
from Mst_SubCategory SubCategory

END

GO
/****** Object:  StoredProcedure [dbo].[SubCategory_FindbasedonCategoryId]    Script Date: 9/21/2018 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================    
-- Author:  <Author,,Name>    
-- Create date: <Create Date,,>    
-- Description: <Description,,>    
-- =============================================    
CREATE PROCEDURE [dbo].[SubCategory_FindbasedonCategoryId]     
 -- Add the parameters for the stored procedure here    
 @CategoryId varchar(100)  
AS    
BEGIN    
--declare @Return nvarchar(50)    
 -- SET NOCOUNT ON added to prevent extra result sets from    
 -- interfering with SELECT statements.    
 SET NOCOUNT ON;    
select ROW_NUMBER() OVER(ORDER BY SubCategory.SubCategoryId) AS RowId,     
SubCategory.SubCategoryId, SubCategory.SubCategoryName, SubCategory.CategoryId, SubCategory.Active    
,Category.[Category Name]    ,SubCategory.SearchKeyword,SubCategory.MetaDescription
from Mst_SubCategory SubCategory    
left join Mst_Category Category on Category.CategoryId = SubCategory.CategoryId    
where    
SubCategory.CategoryId=@CategoryId    
END

GO
/****** Object:  StoredProcedure [dbo].[SubCategory_Insert]    Script Date: 9/21/2018 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================  
-- Author:  <Author,,Name>  
-- Create date: <Create Date,,>  
-- Description: <Description,,>  
  
--exec SubCategory_Insert 'aaa','2',1  
-- =============================================  
CREATE PROCEDURE [dbo].[SubCategory_Insert]   
 -- Add the parameters for the stored procedure here  
 @SubCategoryName varchar(50),  
 @SearchKeyword varchar(500),  
 @MetaDescription varchar(500),    
 @Active int  ,
 @CategoryId int  
   
   
AS  
BEGIN  
--declare @Return nvarchar(50)  
 -- SET NOCOUNT ON added to prevent extra result sets from  
 -- interfering with SELECT statements.  
 SET NOCOUNT ON;  
--if not exists(select CategoryId from Mst_SubCategory where SequenceNo = @SequenceNo)  
--begin  
insert into Mst_SubCategory (SubCategoryName, CategoryId, Active,SearchKeyword,MetaDescription) values (@SubCategoryName, @CategoryId, @Active,@SearchKeyword,@MetaDescription)  
  
  
  
END

GO
/****** Object:  StoredProcedure [dbo].[SubCategory_Update]    Script Date: 9/21/2018 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================  
-- Author:  <Author,,Name>  
-- Create date: <Create Date,,>  
-- Description: <Description,,>  
-- =============================================  
CREATE PROCEDURE [dbo].[SubCategory_Update]   
 -- Add the parameters for the stored procedure here  
 @SubCategoryId int,  
 @SubCategoryName varchar(50),  
 @CategoryId int,
 @SearchKeyword varchar(500),  
 @MetaDescription varchar(500),    
 @Active int    
   
AS  
BEGIN  
--declare @Return nvarchar(50)  
 -- SET NOCOUNT ON added to prevent extra result sets from  
 -- interfering with SELECT statements.  
 SET NOCOUNT ON;  
--if not exists(select CategoryId from Mst_Category where CategoryId != @CategoryId and SequenceNo = @SequenceNo)  
--begin  
update Mst_SubCategory set   
SubCategoryName = @SubCategoryName  
, CategoryId = @CategoryId  
, SearchKeyword = @SearchKeyword  
, MetaDescription = @MetaDescription  
, Active = @Active  
where SubCategoryId = @SubCategoryId  
  
--end  
--else  
--begin  
--set @Return = 'Duplicate sequence no !'  
--end  
  
END

GO
/****** Object:  StoredProcedure [dbo].[UpdateItemwithCategoryId]    Script Date: 9/21/2018 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[UpdateItemwithCategoryId](  
@ItemStockCode varchar(50),  
@CategoryId varchar (50))  
as  
begin  
  
Insert into daljeet.Trn_LinkCategoryItem (ItemStockCode,SubCategoryId)values(@ItemStockCode,@CategoryId)  
  
end

GO
